.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.pageTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}


.error {
  margin-top: 200px;
  font-size: 2rem;
  color: #d9534f;
  margin-bottom: 1rem;
}

.playlistList {
  list-style-type: none;
  padding: 0;
}

.playlistItem {
  margin-bottom: 1.5rem;
}

.songTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.songTable th,
.songTable td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.songTable th {
  background-color: var(--table-header-bg);
  font-weight: bold;
}

.deleteBtn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #c9302c;
}

.adminBtn {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.adminBtn:hover {
  background-color: #449d44;
}

.buttons {
  margin-top: 1rem;
}