.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.inputForm button {
  width: 100%;
  font-weight: bold;
  max-width: 300px;
  padding: 0.5rem;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: green;
  color: var(--fg);
  cursor: pointer;
}

.registerLink {
  color: blue;
  font-size: 1.25em;
  margin: 10px;
}
