.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm input {
  max-width: 20vw;
  margin: 10px;
}

.inputForm button {
  margin: 10px;
  max-width: 20vw;
}

.registerLink {
  margin: 10px;
}
