.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Match SearchSong + Login styling */
form input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

form button {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  margin: 10px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: rgb(45, 45, 168);
  color: white;
  cursor: pointer;
}
