.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.username {
  font-size: 1.5rem;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
