.container {
  padding: 2rem;
  min-height: 90vh;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.error {
  color: #d9534f;
  margin-bottom: 1rem;
}

.playlistBlock {
  margin-bottom: 2rem;
}

.playlistBlock h2 {
  margin-bottom: 0.5rem;
  color: #444;
}

/* Tabel styling */
.playlistTable {
  margin-top: 10px;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.playlistTable th,
.playlistTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.playlistTable th {
  background-color: var(--table-header-bg);
  color: var(--fg);
  font-weight: bold;
}

.playlistTable tr:nth-child(even) {
  background-color: #fafafa;
}

.playlistForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.playlistInput {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playlistBtn {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.playlistBtn:hover {
  background-color: #449d44;
}

.playlistHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
