.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.pageTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.error {
  margin-top: 200px;
  font-size: 2rem;
  color: #d9534f;
  margin-bottom: 1rem;
}

.playlistBlock {
  margin-bottom: 2rem;
}

.playlistBlock h2 {
  margin-bottom: 0.5rem;
}

.playlistTable {
  background-color: var(--table-bg);
  margin-top: 10px;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.playlistTable th,
.playlistTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.playlistTable th {
  background-color: var(--table-header-bg);
  color: var(--fg);
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: var(--table-row-even);
}

.playlistForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.playlistInput {
  font-size: 1.5rem;
  width: 100%;
  max-width: 300px;
  padding: 0.2rem;
  margin: 0.5rem auto;
  margin-bottom: 2%;
  display: block;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.playlistBtn {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.playlistBtn:hover {
  background-color: #449d44;
}

.playlistHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton {
  background-color: #744179;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
