:root {
  --bg: #e6e5d8;
  --fg: #000000;
  --table-bg: #ffffff;
  --table-header-bg: #b99f9f;
  --table-hover-bg: #dbdbdb;
  --table-row-even: #f3efef;
}

body.dark {
  --bg: #1e1e1e;
  --fg: #f5f5f5;
  --table-bg: #080808;
  --table-header-bg: #685353;
  --table-hover-bg: #929292;
  --table-row-even: #3a3a3a;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.3s, color 0.3s;
}
