.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.leftColumn {
  grid-column: 1;
  grid-row: 2;
  padding: 1rem;
}

.rightColumn {
  grid-column: 2;
  grid-row: 2;
  padding: 1rem;
}

.rightColumn img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.image {
  background-color: white;
}
