.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  padding: 8px 8px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  white-space: nowrap; /* ✅ forhindrer line-breaks */
}

@media (max-width: 768px) {
  .header {
    padding: 12px 16px;
    flex-direction: row;
    align-items: center;
  }
}

.header div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover skal stå som en separat selector */
.header nav a:hover {
  color: #ffcc00;
}

.active {
  border-bottom: 2px solid red;
  padding-bottom: 4px;
}

.nav {
   flex: 1; 
   display: flex;
  justify-content: center;
  overflow: hidden;
}

.themeButton { 
  background: none;
   border: none;
  font-size: 1.5rem;
   cursor: pointer; color: #ffffff; 
  flex-shrink: 0;
  }
    
