.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.pageTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.userTable {
  background-color: var(--table-bg);
  margin-top: 10px;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.userTable th,
.userTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.userTable th {
  background-color: var(--table-header-bg);
  color: var(--fg);
  font-weight: bold;
}

.userTable tr:nth-child(even) {
  background-color: var(--table-row-even);
}

.userTable tr:hover {
  background-color: var(--table-hover-bg);
}


.songsTable {
  background-color: var(--table-bg);
  margin-top: 10px;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.songsTable th,
.songsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.songsTable th {
  background-color: var(--table-header-bg);
  color: var(--fg);
  font-weight: bold;
}

.songsTable tr:nth-child(even) {
  background-color: var(--table-row-even);
}


.error {
  color: #c0392b;
  font-weight: bold;
  margin-top: 1rem;
}


.clickableRow {
  cursor: pointer; 
}

.clickableRow:hover {
  background-color: var(--table-row-hover); 
}

.divider {
  margin-top: 5%;
}

